{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto h-screen">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            Name: {{ character.name }}
        </h1><br>


        <img
            src="{{ character.imagePath }}"
            src="{{ character.imagePath }}" style="width:350px" height="597px"
            class="rounded-xl shadow-xl mx-auto"
            alt=""
        />

        <p class="flex justify-center items-center text-xl py-6">
            {{ character.name }} is {{ character.age }} jaar oud
        </p>

        <p class="flex justify-center items-center text-xl py-6">
            {{ character.description }}
        </p>
        
        <p class="flex justify-center items-center">
            {{ character.name }} is a {{ character.groupSort }}
        </p>
        <br>
        <p class="flex justify-center items-center">
            {{ character.name }} belongs to the {{ character.races }} race
        </p>

        <br><br>
        <a 
            href="/edit/{{ character.id }}"
            class="mx-auto bg-green-500 font-bold py-2 px-4 ml-96 rounded transition-all hover:bg-green-300">
            Edit Character
        </a>

        <a 
            href="/delete/{{ character.id }}"
            class="mx-auto bg-red-500 font-bold py-2 px-4 ml-10 rounded transition-all hover:bg-red-300">
            Delete Character
        </a>
    </div>
{% endblock %}